
.pagination{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
  
    li{
      text-align: center;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s;
  
      &:hover{
        background-color: hsl( 0, 0%, 95%);
      }
  
      a{
        color: hsla( 217, 100%, 65%, 1);
        text-decoration: none;;
      }
    }
    
    li.paginationActivePage{
      background-color: hsla( 217, 100%, 95%, 1);
      border: 1px solid white;
  
      a{
        color: hsla( 217, 63%, 51%, 1);
      }
    }
}